{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalentHub login</title>
    <link rel="stylesheet" href="{% static 'social/login.css' %}">
</head>
<body>
  <div class="container">
    <div class="login-box">
        <h1 class="logo">TalentHub</h1>
        <form method="post">
          {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Log In</button>
        </form>
        <div class="signup-box">
          <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
        <div class="separator">
            <span>OR</span>
        </div>
        <a href="#">Forgot password?</a>
        {% for message in messages %}
            <p style="color: red">{{ message }}</p>
        {% endfor %}
    </div>
  </div>
</body>
</html>